body {
  font-family: sans-serif;
  background-color: rgb(242, 243, 232);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid grey;
  border-radius: 12px;
  margin: 50px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid grey;
  border-radius: 12px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
}

#userForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

#labelStyle {
  font-size: 20px;
  font-weight: 600;
}

#userInput {
  display: flex;
  width: 30vh;
}

.arrayOutput {
  font-weight: 900;
  margin: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  contain: content;
  border: 3px solid grey;
  border-radius: 12px;
  padding: 25px;
}